.additionally {
  margin: 0;
  padding: 0 20px 15px;
  border: none;
}

.additionally__legend {
  margin-bottom: 34px;
  padding: 0;
  .form-legend();
}

.additionally__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.additionally__item {
  margin-bottom: 25px;
}

.additionally__title {
  font-family: @font-family-primary;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

