.basic-information {
  margin: 0;
  padding: 0 20px 24px;
  border: none;
  border-bottom: solid 1px rgba(217, 217, 217, 1);
}

@media (min-width: @tablet-width) {
  .basic-information {
    padding: 0 67px 72px 71px;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .basic-information {
    width: 568px;
    margin-left: 110px;
    padding: 0;
  }
}

.basic-information__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 14px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .basic-information__list {
    gap: 20px;
  }
}

.basic-information__label {
  display: flex;
  align-items: center;
}

.basic-information__title {
  margin-right: 13px;
  white-space: nowrap;
  .form-input-font-prime();
}

.basic-information__input {
  width: 100%;
  min-height: 45px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid rgba(231, 231, 231, 1);
  .form-input-font-prime();
}

@media (min-width: @tablet-width) {
  .basic-information__input {
    min-height: 52px;
  }
}
