.basic-information {
  margin: 0;
  padding: 0 20px;
  border: none;
  border-bottom: solid 1px rgba(217, 217, 217, 1);
}

.basic-information__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.basic-information__label,
.basic-information__input {
  .form-input-font-prime();
}
