.cooperation {
  width: 320px;
}

.cooperation--primery {
  background-color: rgba(255, 255, 255, 1);
}

.cooperation--secondary {
  background-color: rgba(242, 242, 242, 1);
}

.cooperation__text {
  display: block;
  width: 139px;
  margin: 26px 2px 26px 20px;
}

.cooperation-text {
  font-family: "Oswald",sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(17, 17, 17, 1);
  text-transform: uppercase;
}
