.description {
  margin: 20px;
}

@media (min-width: @tablet-width) {
  .description {
    margin-top: 45px;
  }
}

.description__title {
  margin: 0 0 40px 0;
  font-family: @font-family-primary;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.description__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .description__list {
    display: grid;
    grid-template-columns: 249px 249px;
    gap: 37px 137px;
    margin: 72px auto 47px 30px;
  }
}

.description__list:last-child {
  margin-bottom: 49px;
}

.description__item {
  display: flex;
  width: 279px;
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .description__item {
    flex-direction: column;
  }
}

.description__image {
  margin-right: 20px;
}

@media (min-width: @tablet-width) {
  .description__image {
    transform: scale(1.25);
  }
}

.description__text {
  font-family: @font-family-secondary;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
}
