.example {
  width: 320px;
  background-color: rgba(234, 234, 234, 1);
}

.example__title {
  margin: 25px auto 40px 20px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.example__text {
  margin: 20px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
}

.example__list {
  margin: 0;
  padding: 0;
}
