.example {
  box-sizing: border-box;
  width: 320px;
  padding: 25px 20px 40px;
  background-color: rgba(234, 234, 234, 1);
}

@media (min-width: @tablet-width) {
  .example {
    width: @tablet-width;
    padding: 43px 30px 101px;
    background-color: rgba(255, 255, 255, 1);
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: @font-family-primary;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

@media (min-width: @tablet-width) {
  .example__title {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__text {
  margin-bottom: 35px;
  font-family: @font-family-secondary;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
}

@media (min-width: @tablet-width) {
  .example__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__list {
  margin: 0;
  padding: 0;
}

.example__price {
  margin: 0 53px;
  font-family: @font-family-primary;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}
