.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(242, 242, 242, 1);
}

.footer__wrapper {
  align-self: center;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    width: @desktop-width;
  }
}

.footer__inner {
  margin: 0 20px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .footer__inner {
    flex-direction: row;
    margin: 0 30px;
    padding: 35px 0 34px;
  }
}

@media (min-width: @desktop-width) {
  .footer__inner {
    margin: 0 110px;
    padding-top: 41px;
    padding-bottom: 43px;
  }
}

.footer__logo-title-big-link {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  box-sizing: border-box;
  height: 82px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .footer__logo-title-big-link {
    display: flex;
    align-items: center;
    width: min-content;
    margin-right: 131px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer__logo-title-big-link {
    margin-right: 389px;
  }
}

.footer__logo-title-big-link:hover {
  opacity: 0.8;
}

.footer__logo-title-big-link:active {
  opacity: 0.6;
}

.footer__social-list-wrapper {
  display: flex;
  justify-content: center;
  align-self: stretch;
  border-top: 1px solid rgba(217, 217, 217, 1);
  border-bottom: 1px solid rgba(217, 217, 217, 1);
}

@media (min-width: @tablet-width) {
  .footer__social-list-wrapper {
    border: none;
    align-self: center;
    margin-right: auto;
  }
}

.footer__html-academy-link {
  align-self: stretch;
  display: flex;
  align-items: center;
  font-family: @font-family-secondary;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .footer__html-academy-link {
    justify-content: end;
  }
}

.footer__html-academy-link:hover .footer__html-academy-logo {
  fill: rgba(104, 183, 56, 1);
}

.footer__html-academy-link:active {
  opacity: 0.3;
}

.footer__html-academy-text {
  margin: 26px auto 26px 0;
}

@media (min-width: @tablet-width) {
  .footer__html-academy-text {
    margin-right: 29px;
  }
}

.footer__html-academy-logo {
  fill: rgba(102, 102, 102, 1);
}
