.header {
  width: 320px;
  align-self: center;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .header {
    width: @tablet-width;
    justify-content: center;
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .header {
    width: @desktop-width;
  }
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

@media (min-width: @tablet-width) {
  .header__inner {
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .header__inner {
    width: 1220px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 14px 0;
}

@media (min-width: @tablet-width) {
  .header__logo {
    // justify-content: space-between;
    // width: 174px;
    margin-right: 93px;
  }
}

@media (min-width: @desktop-width) {
  .header__logo {
    margin-right: 538px;
    margin-left: 110px;
  }
}

.header__logo-logo {
  margin-right: 57px;
}
