.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: @desktop-width) {
  .header {
    padding-top: 53px;
  }
}

@media (min-width: @tablet-width) {
  .header__inner {
    display: flex;
    justify-content: space-between;
    width: 708px;
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .header__inner {
    width: 1220px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  min-height: 66px;
  margin-right: 89px;
}

@media (min-width: @tablet-width) {
  .header__logo {
    min-height: 52px;
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .header__logo {
    margin-right: auto;
  }
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}

.header__logo-logo {
  margin-right: 57px;
}

@media (min-width: @tablet-width) {
  .header__logo-mobile-title {
    display: none;
  }
}
