.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .header {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: @desktop-width) {
  .header {
    width: @desktop-width;
  }
}

@media (min-width: @tablet-width) {
  .header__inner {
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .header__inner {
    width: 1220px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 89px;
  padding: 14px 20px;
}

@media (min-width: @tablet-width) {
  .header__logo {
    margin-right: 93px;
  }
}

@media (min-width: @desktop-width) {
  .header__logo {
    margin-right: 538px;
    margin-left: 110px;
  }
}

.header__logo-logo {
  margin-right: 57px;
}
