.hero {
  width: 320px;
  margin: 0;
  padding-top: 27px;
  background-image: url("../img/cat-hero.jpg");
  background-repeat: no-repeat;
  background-size: 320px 302px;
}

.hero__title {
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  display: block;
  font-family: @font-family-primary;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
}

.hero__slogan {
  margin-bottom: 29px;
  text-align: center;
  display: block;
  font-family: @font-family-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: rgba(255, 255, 255, 1);
}

.hero__image {
  display: block;
  margin: 0 auto;
}
