.main-catalog {
  box-sizing: border-box;
  width: 320px;
  padding: 27px 20px 0;
  border-top: 1px solid rgba(217, 217, 217, 1);
}

.main-catalog__title {
  margin: 0;
  margin-bottom: 41px;
  font-family: @font-family-primary;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.main-catalog__promo-block {
  width: 280px;
  height: 290px;
  background-color: rgba(104, 183, 56,);
  background-image: url("../img/promo-background.jpg");
  background-size: 280px 290px;
  background-repeat: no-repeat;
}

.main-catalog__promo-block-text {
  font-family: @font-family-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
