.main-form {
  width: 320px;
  background-color: rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(217, 217, 217, 1);
}

@media (min-width: @tablet-width) {
  .main-form {
    width: @tablet-width;
    border: none;
  }
}

.main-form__title {
  margin: 27px auto 37px 20px;
  font-family: @font-family-primary;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

@media (min-width: @tablet-width) {
  .main-form__title {
    margin: 0 auto 54px 69px;
  }
}

.main-form__secondary-title {
  margin: 0 74px 39px 20px;
  font-family: @font-family-primary;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .main-form__secondary-title {
    margin: 0 auto 66px 70px;
  }
}

.main-form__necessarily {
  display: block;
  margin-bottom: 32px;
  text-align: center;
  font-family: @font-family-secondary;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.main-form__button {
  margin-bottom: 21px;
}
