.product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product__card-title-link {
  text-decoration: none;
}

.product__card-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(34, 34, 34, 1);
  text-transform: uppercase;
}

.product__card-list-item-termin,
.product__card-list-item-definition {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
}

.product__show-more-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(17, 17, 17, 1);
  text-transform: uppercase;
}

.product__show-more-text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
}
