.product {
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid rgba(235, 235, 235, 1);
}

@media (min-width: @tablet-width) {
  .product__list {
    width: 709px;
    padding: 0 0 68px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 141px 60px;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .product__list {
    width: 1220px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 143px 80px;
  }
}

.product__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
}

@media (min-width: @tablet-width) {
  .product__card {
    border: none;
    background-color: rgba(242, 242, 242, 1);
  }
}

.product__card-inner {
  position: relative;
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 13px;
  padding: 19px 20px 25px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .product__card-inner {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 161px 38px 39px;
    row-gap: 0;
  }
}

.product__card-image-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 112px;
}

@media (min-width: @tablet-width) {
  .product__card-image-link {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: @tablet-width) {
  .product__card-image-link-1000g {
    top: -15px;
  }
}

.product__card-text-link {
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .product__card-text-link {
    display: flex;
    flex-direction: column;
  }
}

.product__card-title {
  width: 76px;
  margin: 0;
  margin-bottom: 14px;
  font-family: @font-family-primary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(34, 34, 34, 1);
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .product__card-title {
    width: 130px;
    align-self: center;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product__card-list {
  list-style-type: none;
  margin: 0 0 9px;
}

@media (min-width: @tablet-width) {
  .product__card-list {
    margin-bottom: 33px;
  }
}

.product__card-list-item {
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .product__card-list-item {
    padding: 8px 0;
    border-bottom: 1px solid rgba(205, 205, 205, 1);
  }
}

.product__card-list-item-termin,
.product__card-list-item-definition {
  margin: 0;
  font-family: @font-family-secondary;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
}

@media (min-width: @tablet-width) {
  .product__card-list-item-termin,
  .product__card-list-item-definition {
    font-size: 16px;
  }
}

.product__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  font-family: @font-family-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(104, 183, 56, 1);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  grid-column: 1/3;
}

@media (min-width: @tablet-width) {
  .product__button {
    grid-column: 1/2;
  }
}

@media (min-width: @desktop-width) {
  .product__button {
    width: 168px;
  }
}

.product__show-more-container {
  position: relative;
  padding-top: 78px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
}

@media (min-width: @tablet-width) {
  .product__show-more-container {
    padding: 161px 0 39px;
    border: 2px solid rgba(242, 242, 242, 1);
  }
}

@media (min-width: @tablet-width) {
  .product__show-more-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.product__show-more-title {
  margin: 0;
  margin-bottom: 8px;
  font-family: @font-family-primary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(17, 17, 17, 1);
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .product__show-more-title {
    width: 134px;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.product__show-more-title::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background: url("../../img/plus.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

@media (min-width: @tablet-width) {
  .product__show-more-title::before {
    top: 52px;
  }
}

.product__show-more-text {
  margin: 0;
  margin-bottom: 21px;
  font-family: @font-family-secondary;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
  text-align: center;
}

@media (min-width: @tablet-width) {
  .product__show-more-text {
    width: 165px;
    margin-bottom: auto;
    font-size: 16px;
    line-height: 18px;
  }
}

.product__show-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  font-family: @font-family-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
  background-color: rgba(242, 242, 242, 1);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

@media (min-width: @tablet-width) {
  .product__show-more-button {
    width: 249px;
  }
}

@media (min-width: @desktop-width) {
  .product__show-more-button {
    width: 169px;
  }
}

.product__show-more-button:hover {
  background-color: rgba(235, 235, 235, 1);
}

.product__show-more-button:active {
  color: rgba(68, 68, 68, 0.3);
}
