.program-selection {
  margin: 0;
  margin-bottom: 26px;
  padding: 28px 20px 0;
  border: none;
  border-bottom: 1px solid rgba(217, 217, 217, 1);
}

@media (min-width: @tablet-width) {
  .program-selection {
    margin: 0 67px 75px 71px;
    padding: 30px 0 30px 28px;
  }
}

.program-selection__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.program-selection__item {
  margin-bottom: 25px;
}

.program-selection__input {
  margin-right: 15px;
}

.program-selection__title {
  font-family: @font-family-primary;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(34, 34, 34, 1);
  text-transform: uppercase;
}
