.program-selection {
  margin: 0;
  padding: 22px 20px 19px;
  border: none;
  border-bottom: 1px solid rgba(217, 217, 217, 1);
}

@media (min-width: @tablet-width) {
  .program-selection {
    margin: 0 67px 75px 71px;
    padding: 25px 0 25px 28px;
    border: 1px solid rgba(231, 231, 231, 1);
  }
}

.program-selection__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 13px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.program-selection__label {
  display: flex;
  align-items: center;
}

.program-selection__input {
  width: 30px;
  height: 30px;
  margin: 0;
  margin-right: 15px;
}

@media (min-width: @tablet-width) {
  .program-selection__input {
    width: 40px;
    height: 40px;
  }
}

.program-selection__title {
  font-family: @font-family-primary;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(34, 34, 34, 1);
  text-transform: uppercase;
}
