.section-program {
  width: 280px;
  margin: 20px;
  padding: 20px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.section-program__title {
  font-family: "Oswald",sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.section-program__content {
  font-family: "Lato",sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.section-program__link {
  font-family: "Oswald",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  text-transform: uppercase;
}
