.user-contacts {
  margin: 0;
  padding: 50px 36px 38px 20px;
}


.user-contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-contacts__legend {
  .form-legend();
  padding: 0;
}

.user-contacts__label,
.user-contacts__input {
  .form-input-font-prime();
}
