.user-comment {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 23px;
  border: none;
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .user-comment {
    padding: 0 67px 65px 70px;
  }
}

@media (min-width: @desktop-width) {
  .user-comment {
    padding: 0 0 67px;
  }
}

.user-comment__title-wrapper {
  width: 280px;
  margin: 0 0 37px;
}

@media (min-width: @tablet-width) {
  .user-comment__title-wrapper {
    width: 628px;
    margin-bottom: 76px;
  }
}

@media (min-width: @desktop-width) {
  .user-comment__title-wrapper {
    width: 1220px;
  }
}

.user-comment__title {
  display: inline;
  position: relative;
  .form-legend();
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
}

@media (min-width: @tablet-width) {
  .user-comment__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.user-comment__title::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -1000px;
  height: 2px;
  width: 1000%;
  background-color: rgba(104, 183, 56, 1);
  z-index: -1;
}

.user-comment__input {
  width: 280px;
  min-height: 151px;
  .form-input-font-prime();
  border: 1px solid rgba(231, 231, 231, 1);
}

@media (min-width: @tablet-width) {
  .user-comment__input {
    width: 628px;
    min-height: 174px;
  }
}

@media (min-width: @desktop-width) {
  .user-comment__input {
    width: 1220px;
  }
}
