.user-comment {
  margin: 0;
  padding: 0 20px 0;
  border: none;
}

.user-comment__legend {
  margin-bottom: 47px;
  .form-legend();
}

.user-comment__input {
  min-height: 151px;
  margin-bottom: 23px;
  .form-input-font-prime();
  border: 1px solid rgba(231, 231, 231, 1);
}
